{
  "presets": [["latest", {"loose": true,
                          "modules": "commonjs"}]],
  "plugins": [
    ["transform-runtime", {"polyfill": true, helpers: true, "regenerator": true}],
    "transform-export-extensions",
    "transform-object-rest-spread"]}
